name: Simple Go Build

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v4
          - name: Setup python versiom
            uses: actions/setup-python@v5
            with:
              python-version: "3.10"
    
          - name: Run Python Script
            run: |
                python hello-world.py